<footer>
    <div class="weather-button-container">
        <button id="weather-button">Weather</button>
        <div id="weather-popup" class="weather-popup">
        <h3>Current Weather</h3>
        <h4>In Boca Raton</h4>
        <p id="weather-info">Loading...</p>
        </div>
    </div>
</footer>