<nav>
        
  <div class="logo">
      <img src="../images/logo.png" alt="logo">
  </div>
    
  <a href="#" class="hamburger-toggle">
    <span class="hamburger-bar"></span>
    <span class="hamburger-bar"></span>
    <span class="hamburger-bar"></span>
  </a>
  <div class="nav-menu">
      <p class ="homePage">Profile</p>
      <p class="editPage">Edit Profile</p>
        
  </div>
    
  <div class="search-container">
    <div class="search-box">
        <input type="text" id="search-field"placeholder="Type to search..."/>
        <div class="search-btn">
          <i class="fas fa-search"></i>
        </div>
        
        <div class="cancel-btn">
          <i class="fas fa-times"></i>
        </div>
      </div>
  </div>
    
  <button class="log-out">Log Out</button>
  
</nav>
